defaults:
  - data_io: hoefling_2024
  - quality_checks: hoefling_2024
  - dataloader: hoefling_2024
  - model: transformer_core_readout
  - training_callbacks:
      - early_stopping
      - lr_monitor
      - model_checkpoint
  - logger:
      - tensorboard
      - csv
      - mlflow
  - trainer: default_deterministic
  - hydra: default
  - override hydra/sweeper: optuna # make sure to install `pip install -e ".[optuna]"
  - override hydra/sweeper/sampler: tpe
  - _self_ # values in this config will overwrite the defaults

training_callbacks:
  early_stopping:
    patience: 20

exp_name: transformer_hyperparams_search_2
seed: 42
check_stimuli_responses_match: false

dataloader:
  batch_size: 64
  # train_chunk_size: 50

objective_target: val_correlation

hydra:
  run:
    dir: ${paths.log_dir}/openretina_assets/runs/${exp_name}/${now:%Y-%m-%d_%H-%M-%S}
  sweep:
    dir: ${paths.log_dir}/openretina_assets/runs/${exp_name}/${now:%Y-%m-%d_%H-%M-%S}
  sweeper:
    sampler:
      seed: 42
    direction: maximize
    study_name: ${exp_name}
    storage: sqlite:///transformer_hyperparams_search_2.db
    n_trials: 150
    n_jobs: 1
    params:
      dataloader.train_chunk_size: choice(50, 60, 70)
      model.core.temporal_patch_size: choice(20, 25, 30, 35, 40)
      model.core.num_spatial_blocks: range(12, 24)
      model.core.num_temporal_blocks: range(1, 6)
      model.core.reg_scale: interval(0.0, 0.3)

model:
  learning_rate: 5e-3
  weight_decay: 0.05
  core:
    pad_frame: false
    Demb: 64
    patch_size: 12
    spatial_stride: 6
    use_torch_compile: false
  readout:
    reg_avg: false

paths:
  load_model_path: null # e.g. hoefling_2024_base_high_res or path to a .ckpt model
  cache_dir: ${oc.env:OPENRETINA_CACHE_DIRECTORY} # Remote files are downloaded to this location
  data_dir: ${paths.cache_dir}/data/ # Folder where local files are read from.
  log_dir: "." # Used as parent for output_dir. Will store train logs.
  output_dir: ${hydra:runtime.output_dir} # Modify subpaths in the "hydra/default.yaml" config
  movies_path: "https://huggingface.co/datasets/open-retina/open-retina/resolve/main/euler_lab/hoefling_2024/stimuli/rgc_natstim_72x64_joint_normalized_2024-10-11.zip"
  responses_path: "https://huggingface.co/datasets/open-retina/open-retina/resolve/main/euler_lab/hoefling_2024/responses/rgc_natstim_2024-08-14.zip"

trainer:
  max_epochs: 100
  precision: 16-mixed
  accumulate_grad_batches: 5
